// body {
//     font-family: Arial, sans-serif;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #f4f4f4;
//     margin: 0;
// }
.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 20px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 100%;
    height: 50vh;
    max-width: 350px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.error {
    color: red;
    font-size: 0.875rem;
}
.success {
    color: green;
    font-size: 0.875rem;
}
.submit-btn {
    background-color:#3c009d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    /* Initially disabled */
    pointer-events: none; /* Initially disabled */
}
.submit-btn.enabled {
    opacity: 1; /* Enabled */
    pointer-events: auto; /* Enabled */
}
.submit-btn:hover {
    background-color: #3c009d;
}